:root {
  --color-primary: cyan;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: azure;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

/* background */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Card */

.card {
  width: 93%;
  background: rgba(25, 25, 112, 0.5);
  border-radius: 10px;
  padding: 15px;
  color: azure;
  margin-top: 20px;
}

.card:hover {
  background-color: rgba(25, 25, 112, 0.8);
}

.card__clouds,
.card__humidity,
.card__pressure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

/* heading */

.location-name {
  margin-bottom: 0;
  margin-top: 11px;
}

.date {
  font-weight: 400;
  margin-right: 5px;
  margin-top: 5px;
}

/* Temperature */

.temperature-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.location-temp {
  font-size: 3.5rem;
  align-self: center;
}

.temperature:hover {
  color: #e73c7e;
  cursor: pointer;
}

.location-info {
  font-size: 0.7rem;
  align-self: flex-start;
  text-align: right;
  width: 50%;
  margin-top: 50px;
}

.description,
.feels-like {
  margin: 6px;
  font-weight: 600;
}

.max-deg {
  margin: 6px 6px 6px 0;
  font-weight: 600;
}

.min-deg {
  font-weight: 600;
}

.icon {
  width: 45%;
  padding-right: 10px;
}



.icon__cloud,
.icon__humidity,
.icon__pressure {
  width: 70%;
}


/* Search */

.card__search {
  display: flex;
  flex-direction: column;
  
}

.search {
  align-self: center;
  width: 90%;
  margin-top: 30px;
  margin-left: 15%;
  padding-bottom: 50px;
}

input.search-bar {
  border-radius: 10px;
  outline: none;
  border: none;
  height: 90%;
  width: 70%;
  padding-left: 10px;
  background: azure;
  font-weight: 600;
}

.search-btn {
  border: none;
  outline: none;
  margin-left: 5px;
  border-radius: 100px;
  width: 2rem;
  height: 2rem;
  background: azure;
  cursor: pointer;
}

.search-btn:hover {

  background-color: #e73c7e;
}

.search-btn-icon {
  fill: midnightblue;
}

#mapid {
  height: 300px;
  width: 700px;
  margin-bottom: 50px;
}



/* Summary */

.card__summary {
  margin-bottom: 50px;
  padding: 20px 25px 35px 25px;
}

.liner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-top: 3px;
}

.liner h3 {
  font-size: 1rem;
  margin-bottom: 15px;
}

.liner span {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Button */

.btn {
  display: inline-flex;
  border: 0;
  border-radius: 70px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #635e9e);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042);
  cursor: pointer;
  margin-top: 55px;
  width: 8rem;
  height: 8rem;
  animation: gradient 15s ease infinite;
}

.btn:hover {
  animation: none;
  transform: scale(1.1);
}

.logo {
  width: 60px;
  align-self: flex-end;
  transform: translateX(-190px);
}

h1 {
  padding: 10px 17px 0 9.9px;
  transform: translateX(-4px);
}

@media screen and (min-width: 1087px) {
  .btn {
    align-self: flex-start;
    margin-left: 70px;
    margin-bottom: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: 500px 300px 300px;
    grid-template-rows: 300px 300px;
    row-gap: 5px;
    column-gap: 1px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-items: center;
    margin-bottom: 40px;
    flex-shrink: 2;
  }

  .card {
    margin: 0;
    height: 18rem;
    padding-bottom: 0;
    padding: 20px;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .icon {
    padding-top: 25px;
    padding-left: 10px;
  }

  .card__summary {
    padding: 12px 30px 0 30px;
  }

  h3 {
    font-size: 2rem;
    margin: 0px;
  }

  .icon__cloud,
  .icon__humidity,
  .icon__pressure {
    width: 50%;
  }

  .card__clouds,
  .card__pressure,
  .card__humidity {
    justify-content: space-around;
  }

  .description,
  .feels-like {
    margin: 5px;
  }

  .max-deg {
    margin: 5px 5px 5px 0;
  }

  .card__summary h3 {
    font-size: 1rem;
    padding-top: 2px;
    margin-top: 9px;
  }

  .location-info {
    font-size: 13px;
    margin-top: 70px;
  }

  .card__pressure {
    grid-column: 2;
  }

}
